PORT=3001
DB_USER=sa
DB_PASSWORD=YourStrongDbPassword123
DB_SERVER=localhost\SQLEXPRESS
# DB_PORT=1433
DB_NAME=ToeicVocabularyPlatform
JWT_SECRET=replace_with_a_long_random_secret
NODE_ENV=development
AI_SERVICE_URL=http://localhost:8000
AI_INTERNAL_TOKEN=your_internal_shared_secret
