USE [master]
GO
/****** Object:  Database [ToeicVocabularyPlatform]    Script Date: 24-Jun-26 9:03:14 AM ******/
CREATE DATABASE [ToeicVocabularyPlatform]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ToeicVocabularyPlatform', FILENAME = N'E:\SQL_DATABASE\MSSQL16.SQLEXPRESS\MSSQL\DATA\ToeicVocabularyPlatform.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ToeicVocabularyPlatform_log', FILENAME = N'E:\SQL_DATABASE\MSSQL16.SQLEXPRESS\MSSQL\DATA\ToeicVocabularyPlatform_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ToeicVocabularyPlatform].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ToeicVocabularyPlatform]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 24-Jun-26 9:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [bigint] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](500) NOT NULL,
	[UserRole] [nvarchar](30) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[UpdatedAt] [datetimeoffset](7) NOT NULL,
	[RoleID] [int] NOT NULL,
	[TotalXP] [int] NOT NULL,
	[CurrentLevel] [int] NOT NULL,
	[DailyGoal] [int] NULL,
	[SRSReviewLimit] [int] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Users_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topics]    Script Date: 24-Jun-26 9:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topics](
	[TopicID] [bigint] IDENTITY(1,1) NOT NULL,
	[TopicName] [nvarchar](200) NOT NULL,
	[TopicCode] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[CreatedByUserID] [bigint] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[UpdatedAt] [datetimeoffset](7) NOT NULL,
	[ContentStatus] [nvarchar](30) NOT NULL,
	[ReviewedByUserID] [bigint] NULL,
	[ReviewedAt] [datetimeoffset](7) NULL,
	[PublishedAt] [datetimeoffset](7) NULL,
	[TopicCategoryID] [bigint] NULL,
 CONSTRAINT [PK_Topics] PRIMARY KEY CLUSTERED 
(
	[TopicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Topics_TopicCode] UNIQUE NONCLUSTERED 
(
	[TopicCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Topics_TopicName] UNIQUE NONCLUSTERED 
(
	[TopicName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Words]    Script Date: 24-Jun-26 9:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Words](
	[WordID] [bigint] IDENTITY(1,1) NOT NULL,
	[Term] [nvarchar](200) NOT NULL,
	[PartOfSpeechID] [int] NOT NULL,
	[Meaning] [nvarchar](1000) NOT NULL,
	[Phonetic] [nvarchar](255) NULL,
	[AudioUrlUK] [nvarchar](1000) NULL,
	[AudioUrlUS] [nvarchar](1000) NULL,
	[ImageUrl] [nvarchar](1000) NULL,
	[DifficultyLevel] [tinyint] NOT NULL,
	[CreatedByUserID] [bigint] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[UpdatedAt] [datetimeoffset](7) NOT NULL,
	[ContentStatus] [nvarchar](30) NOT NULL,
	[ReviewedByUserID] [bigint] NULL,
	[ReviewedAt] [datetimeoffset](7) NULL,
	[PublishedAt] [datetimeoffset](7) NULL,
	[Explanation] [nvarchar](max) NULL,
 CONSTRAINT [PK_Words] PRIMARY KEY CLUSTERED 
(
	[WordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Words_Term_PartOfSpeech] UNIQUE NONCLUSTERED 
(
	[Term] ASC,
	[PartOfSpeechID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 24-Jun-26 9:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionID] [bigint] IDENTITY(1,1) NOT NULL,
	[WordID] [bigint] NOT NULL,
	[QuestionType] [nvarchar](30) NOT NULL,
	[QuestionText] [nvarchar](2000) NOT NULL,
	[OptionsJson] [nvarchar](max) NOT NULL,
	[CorrectAnswer] [nvarchar](500) NOT NULL,
	[Explanation] [nvarchar](2000) NULL,
	[DifficultyLevel] [tinyint] NOT NULL,
	[CreatedByUserID] [bigint] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[UpdatedAt] [datetimeoffset](7) NOT NULL,
	[ContentStatus] [nvarchar](30) NOT NULL,
	[ReviewedByUserID] [bigint] NULL,
	[ReviewedAt] [datetimeoffset](7) NULL,
	[PublishedAt] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MiniTests]    Script Date: 24-Jun-26 9:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MiniTests](
	[MiniTestID] [bigint] IDENTITY(1,1) NOT NULL,
	[TopicID] [bigint] NULL,
	[TestTitle] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[CreatedByUserID] [bigint] NOT NULL,
	[TotalQuestions] [int] NOT NULL,
	[IsPublished] [bit] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[UpdatedAt] [datetimeoffset](7) NOT NULL,
	[ContentStatus] [nvarchar](30) NOT NULL,
	[ReviewedByUserID] [bigint] NULL,
	[ReviewedAt] [datetimeoffset](7) NULL,
	[PublishedAt] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_MiniTests] PRIMARY KEY CLUSTERED 
(
	[MiniTestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ContentCreatorContentSummary]    Script Date: 24-Jun-26 9:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_ContentCreatorContentSummary]
AS
SELECT
    u.UserID,
    u.FullName,
    u.Email,

    COUNT(DISTINCT t.TopicID) AS TotalTopics,
    COUNT(DISTINCT w.WordID) AS TotalWords,
    COUNT(DISTINCT q.QuestionID) AS TotalQuestions,
    COUNT(DISTINCT mt.MiniTestID) AS TotalMiniTests,

    SUM(CASE WHEN w.ContentStatus = N'Published' THEN 1 ELSE 0 END) AS PublishedWords,
    SUM(CASE WHEN w.ContentStatus = N'PendingReview' THEN 1 ELSE 0 END) AS PendingWords,
    SUM(CASE WHEN w.ContentStatus = N'Rejected' THEN 1 ELSE 0 END) AS RejectedWords
FROM dbo.Users u
LEFT JOIN dbo.Topics t
    ON t.CreatedByUserID = u.UserID
LEFT JOIN dbo.Words w
    ON w.CreatedByUserID = u.UserID
LEFT JOIN dbo.Questions q
    ON q.CreatedByUserID = u.UserID
LEFT JOIN dbo.MiniTests mt
    ON mt.CreatedByUserID = u.UserID
WHERE u.UserRole = N'ContentCreator'
GROUP BY
    u.UserID,
    u.FullName,
    u.Email;

GO
/****** Object:  Table [dbo].[WordTopics]    Script Date: 24-Jun-26 9:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WordTopics](
	[WordID] [bigint] NOT NULL,
	[TopicID] [bigint] NOT NULL,
	[AssignedAt] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_WordTopics] PRIMARY KEY CLUSTERED 
(
	[WordID] ASC,
	[TopicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserWordProgress]    Script Date: 24-Jun-26 9:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserWordProgress](
	[UserWordProgressID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NOT NULL,
	[WordID] [bigint] NOT NULL,
	[MasteryLevel] [tinyint] NOT NULL,
	[EaseFactor] [decimal](4, 2) NOT NULL,
	[RepetitionCount] [int] NOT NULL,
	[ConsecutiveCorrect] [int] NOT NULL,
	[ConsecutiveWrong] [int] NOT NULL,
	[LastReviewedAt] [datetimeoffset](7) NULL,
	[NextReviewDate] [datetimeoffset](7) NULL,
	[LastScore] [decimal](5, 2) NULL,
	[MemoryStatus] [nvarchar](30) NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[UpdatedAt] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_UserWordProgress] PRIMARY KEY CLUSTERED 
(
	[UserWordProgressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserWordProgress_UserID_WordID] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[WordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTopicEnrollments]    Script Date: 24-Jun-26 9:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTopicEnrollments](
	[UserTopicEnrollmentID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NOT NULL,
	[TopicID] [bigint] NOT NULL,
	[EnrolledAt] [datetimeoffset](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_UserTopicEnrollments] PRIMARY KEY CLUSTERED 
(
	[UserTopicEnrollmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserTopicEnrollments_UserID_TopicID] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[TopicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_TopicLearningAnalytics]    Script Date: 24-Jun-26 9:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_TopicLearningAnalytics]
AS
SELECT
    t.TopicID,
    t.TopicName,
    t.TopicCode,

    COUNT(DISTINCT ute.UserID) AS TotalEnrolledLearners,
    COUNT(DISTINCT wt.WordID) AS TotalWords,
    COUNT(DISTINCT uwp.UserID) AS LearnersWithProgress,

    AVG(CAST(uwp.MasteryLevel AS DECIMAL(10,2))) AS AvgMasteryLevel,
    AVG(CAST(uwp.LastScore AS DECIMAL(10,2))) AS AvgLastScore,

    SUM(CASE WHEN uwp.MemoryStatus = N'Mastered' THEN 1 ELSE 0 END) AS TotalMasteredRecords,
    SUM(CASE WHEN uwp.MemoryStatus = N'Lapsed' THEN 1 ELSE 0 END) AS TotalLapsedRecords
FROM dbo.Topics t
LEFT JOIN dbo.UserTopicEnrollments ute
    ON ute.TopicID = t.TopicID
    AND ute.IsActive = 1
LEFT JOIN dbo.WordTopics wt
    ON wt.TopicID = t.TopicID
LEFT JOIN dbo.UserWordProgress uwp
    ON uwp.WordID = wt.WordID
GROUP BY
    t.TopicID,
    t.TopicName,
    t.TopicCode;

GO
/****** Object:  Table [dbo].[MiniTestAttempts]    Script Date: 24-Jun-26 9:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MiniTestAttempts](
	[MiniTestAttemptID] [bigint] IDENTITY(1,1) NOT NULL,
	[MiniTestID] [bigint] NOT NULL,
	[UserID] [bigint] NOT NULL,
	[StartedAt] [datetimeoffset](7) NOT NULL,
	[SubmittedAt] [datetimeoffset](7) NULL,
	[TotalQuestions] [int] NOT NULL,
	[CorrectCount] [int] NOT NULL,
	[Score] [decimal](5, 2) NULL,
 CONSTRAINT [PK_MiniTestAttempts] PRIMARY KEY CLUSTERED 
(
	[MiniTestAttemptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_MiniTestAnalytics]    Script Date: 24-Jun-26 9:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_MiniTestAnalytics]
AS
SELECT
    mt.MiniTestID,
    mt.TestTitle,
    mt.TopicID,
    t.TopicName,

    COUNT(mta.MiniTestAttemptID) AS TotalAttempts,
    COUNT(DISTINCT mta.UserID) AS TotalLearners,
    AVG(CAST(mta.Score AS DECIMAL(10,2))) AS AvgScore,
    MIN(mta.Score) AS MinScore,
    MAX(mta.Score) AS MaxScore,

    SUM(CASE WHEN mta.SubmittedAt IS NOT NULL THEN 1 ELSE 0 END) AS SubmittedAttempts,
    SUM(CASE WHEN mta.SubmittedAt IS NULL THEN 1 ELSE 0 END) AS UnfinishedAttempts
FROM dbo.MiniTests mt
LEFT JOIN dbo.Topics t
    ON t.TopicID = mt.TopicID
LEFT JOIN dbo.MiniTestAttempts mta
    ON mta.MiniTestID = mt.MiniTestID
GROUP BY
    mt.MiniTestID,
    mt.TestTitle,
    mt.TopicID,
    t.TopicName;

GO
/****** Object:  Table [dbo].[TopicCategories]    Script Date: 24-Jun-26 9:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TopicCategories](
	[TopicCategoryID] [bigint] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](255) NOT NULL,
	[CategoryCode] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[IconUrl] [nvarchar](1000) NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedByUserID] [bigint] NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[UpdatedAt] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_TopicCategories] PRIMARY KEY CLUSTERED 
(
	[TopicCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_TopicCategories_CategoryCode] UNIQUE NONCLUSTERED 
(
	[CategoryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_TopicCategorySummary]    Script Date: 24-Jun-26 9:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_TopicCategorySummary]
AS
SELECT
    tc.TopicCategoryID,
    tc.CategoryName,
    tc.CategoryCode,
    tc.Description,
    tc.IconUrl,
    tc.DisplayOrder,
    tc.IsActive,
    COUNT(t.TopicID) AS TotalTopics,
    SUM
    (
        CASE
            WHEN t.ContentStatus = N'Published' THEN 1
            ELSE 0
        END
    ) AS PublishedTopics,
    SUM
    (
        CASE
            WHEN t.ContentStatus = N'Draft' THEN 1
            ELSE 0
        END
    ) AS DraftTopics,
    SUM
    (
        CASE
            WHEN t.ContentStatus = N'PendingReview' THEN 1
            ELSE 0
        END
    ) AS PendingReviewTopics
FROM dbo.TopicCategories tc
LEFT JOIN dbo.Topics t
    ON t.TopicCategoryID = tc.TopicCategoryID
GROUP BY
    tc.TopicCategoryID,
    tc.CategoryName,
    tc.CategoryCode,
    tc.Description,
    tc.IconUrl,
    tc.DisplayOrder,
    tc.IsActive;

GO
/****** Object:  Table [dbo].[Achievements]    Script Date: 24-Jun-26 9:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Achievements](
	[AchievementID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](80) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Icon] [nvarchar](20) NOT NULL,
	[CriteriaType] [nvarchar](50) NOT NULL,
	[CriteriaValue] [int] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[XPReward] [int] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_Achievements] PRIMARY KEY CLUSTERED 
(
	[AchievementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Achievements_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContentMediaLinks]    Script Date: 24-Jun-26 9:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContentMediaLinks](
	[ContentMediaLinkID] [bigint] IDENTITY(1,1) NOT NULL,
	[MediaAssetID] [bigint] NOT NULL,
	[EntityType] [nvarchar](30) NOT NULL,
	[EntityID] [bigint] NOT NULL,
	[Purpose] [nvarchar](50) NULL,
	[DisplayOrder] [int] NOT NULL,
 CONSTRAINT [PK_ContentMediaLinks] PRIMARY KEY CLUSTERED 
(
	[ContentMediaLinkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContentReports]    Script Date: 24-Jun-26 9:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContentReports](
	[ContentReportID] [bigint] IDENTITY(1,1) NOT NULL,
	[ReporterUserID] [bigint] NOT NULL,
	[EntityType] [nvarchar](30) NOT NULL,
	[WordID] [bigint] NULL,
	[QuestionID] [bigint] NULL,
	[ReportType] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](2000) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[Priority] [nvarchar](20) NOT NULL,
	[AdminResponse] [nvarchar](2000) NULL,
	[ResolvedByUserID] [bigint] NULL,
	[ResolvedAt] [datetimeoffset](7) NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[UpdatedAt] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_ContentReports] PRIMARY KEY CLUSTERED 
(
	[ContentReportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ContentReviewLogs]    Script Date: 24-Jun-26 9:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContentReviewLogs](
	[ContentReviewLogID] [bigint] IDENTITY(1,1) NOT NULL,
	[EntityType] [nvarchar](30) NOT NULL,
	[EntityID] [bigint] NOT NULL,
	[ActionByUserID] [bigint] NOT NULL,
	[OldStatus] [nvarchar](30) NULL,
	[NewStatus] [nvarchar](30) NOT NULL,
	[Comment] [nvarchar](2000) NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_ContentReviewLogs] PRIMARY KEY CLUSTERED 
(
	[ContentReviewLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExampleSentences]    Script Date: 24-Jun-26 9:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExampleSentences](
	[ExampleSentenceID] [bigint] IDENTITY(1,1) NOT NULL,
	[WordID] [bigint] NOT NULL,
	[SentenceText] [nvarchar](2000) NOT NULL,
	[SentenceTranslation] [nvarchar](2000) NULL,
	[AudioUrl] [nvarchar](1000) NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[UpdatedAt] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_ExampleSentences] PRIMARY KEY CLUSTERED 
(
	[ExampleSentenceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExerciseAttempts]    Script Date: 24-Jun-26 9:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExerciseAttempts](
	[ExerciseAttemptID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NOT NULL,
	[QuestionID] [bigint] NOT NULL,
	[WordID] [bigint] NOT NULL,
	[SubmittedAnswer] [nvarchar](1000) NOT NULL,
	[IsCorrect] [bit] NOT NULL,
	[ScoreAwarded] [decimal](5, 2) NOT NULL,
	[AttemptedAt] [datetimeoffset](7) NOT NULL,
	[ClientTimeZoneOffset] [nvarchar](10) NULL,
	[AttemptMetadataJson] [nvarchar](max) NULL,
 CONSTRAINT [PK_ExerciseAttempts] PRIMARY KEY CLUSTERED 
(
	[ExerciseAttemptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LearningPathLevels]    Script Date: 24-Jun-26 9:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LearningPathLevels](
	[LearningPathLevelID] [int] IDENTITY(1,1) NOT NULL,
	[LevelCode] [nvarchar](30) NOT NULL,
	[LevelName] [nvarchar](100) NOT NULL,
	[TargetScore] [int] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[DisplayOrder] [int] NOT NULL,
	[AccentKey] [nvarchar](30) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[UpdatedAt] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_LearningPathLevels] PRIMARY KEY CLUSTERED 
(
	[LearningPathLevelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_LearningPathLevels_DisplayOrder] UNIQUE NONCLUSTERED 
(
	[DisplayOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_LearningPathLevels_LevelCode] UNIQUE NONCLUSTERED 
(
	[LevelCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LearningPathTopics]    Script Date: 24-Jun-26 9:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LearningPathTopics](
	[LearningPathTopicID] [bigint] IDENTITY(1,1) NOT NULL,
	[LearningPathLevelID] [int] NOT NULL,
	[TopicID] [bigint] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[IsRequired] [bit] NOT NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_LearningPathTopics] PRIMARY KEY CLUSTERED 
(
	[LearningPathTopicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_LearningPathTopics_TopicID] UNIQUE NONCLUSTERED 
(
	[TopicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MediaAssets]    Script Date: 24-Jun-26 9:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MediaAssets](
	[MediaAssetID] [bigint] IDENTITY(1,1) NOT NULL,
	[UploadedByUserID] [bigint] NOT NULL,
	[MediaType] [nvarchar](30) NOT NULL,
	[FileUrl] [nvarchar](1000) NOT NULL,
	[FileName] [nvarchar](255) NULL,
	[MimeType] [nvarchar](100) NULL,
	[FileSizeBytes] [bigint] NULL,
	[AltText] [nvarchar](500) NULL,
	[Transcript] [nvarchar](2000) NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_MediaAssets] PRIMARY KEY CLUSTERED 
(
	[MediaAssetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MiniTestItems]    Script Date: 24-Jun-26 9:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MiniTestItems](
	[MiniTestID] [bigint] NOT NULL,
	[QuestionID] [bigint] NOT NULL,
	[DisplayOrder] [int] NOT NULL,
 CONSTRAINT [PK_MiniTestItems] PRIMARY KEY CLUSTERED 
(
	[MiniTestID] ASC,
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_MiniTestItems_MiniTestID_DisplayOrder] UNIQUE NONCLUSTERED 
(
	[MiniTestID] ASC,
	[DisplayOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 24-Jun-26 9:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Type] [varchar](50) NULL,
	[DeliveryChannel] [varchar](50) NULL,
	[ActionUrl] [nvarchar](500) NULL,
	[IsRead] [bit] NULL,
	[CreatedAt] [datetimeoffset](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartOfSpeeches]    Script Date: 24-Jun-26 9:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartOfSpeeches](
	[PartOfSpeechID] [int] IDENTITY(1,1) NOT NULL,
	[PartOfSpeechCode] [nvarchar](20) NOT NULL,
	[PartOfSpeechName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_PartOfSpeeches] PRIMARY KEY CLUSTERED 
(
	[PartOfSpeechID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PartOfSpeeches_Code] UNIQUE NONCLUSTERED 
(
	[PartOfSpeechCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PartOfSpeeches_Name] UNIQUE NONCLUSTERED 
(
	[PartOfSpeechName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 24-Jun-26 9:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[PermissionID] [int] IDENTITY(1,1) NOT NULL,
	[PermissionCode] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PermissionCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 24-Jun-26 9:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[RoleID] [int] NOT NULL,
	[PermissionID] [int] NOT NULL,
 CONSTRAINT [PK_RolePermissions] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC,
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 24-Jun-26 9:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAchievements]    Script Date: 24-Jun-26 9:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAchievements](
	[UserAchievementID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NOT NULL,
	[AchievementID] [int] NOT NULL,
	[UnlockedAt] [datetimeoffset](7) NOT NULL,
	[SeenAt] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_UserAchievements] PRIMARY KEY CLUSTERED 
(
	[UserAchievementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserAchievements_User_Achievement] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[AchievementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserVocabularyNotebook]    Script Date: 24-Jun-26 9:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserVocabularyNotebook](
	[NotebookID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NOT NULL,
	[WordID] [bigint] NOT NULL,
	[PersonalNote] [nvarchar](2000) NULL,
	[IsFavorite] [bit] NOT NULL,
	[AddedAt] [datetimeoffset](7) NOT NULL,
	[UpdatedAt] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_UserVocabularyNotebook] PRIMARY KEY CLUSTERED 
(
	[NotebookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_UserVocabularyNotebook_UserID_WordID] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[WordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserXPEvents]    Script Date: 24-Jun-26 9:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserXPEvents](
	[XPEventID] [bigint] IDENTITY(1,1) NOT NULL,
	[UserID] [bigint] NOT NULL,
	[EventType] [nvarchar](50) NOT NULL,
	[XPAmount] [int] NOT NULL,
	[SourceKey] [nvarchar](200) NULL,
	[MetadataJson] [nvarchar](max) NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
 CONSTRAINT [PK_UserXPEvents] PRIMARY KEY CLUSTERED 
(
	[XPEventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ContentMediaLinks_Entity]    Script Date: 24-Jun-26 9:03:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_ContentMediaLinks_Entity] ON [dbo].[ContentMediaLinks]
(
	[EntityType] ASC,
	[EntityID] ASC,
	[DisplayOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContentMediaLinks_MediaAssetID]    Script Date: 24-Jun-26 9:03:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_ContentMediaLinks_MediaAssetID] ON [dbo].[ContentMediaLinks]
(
	[MediaAssetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContentReports_ReporterUserID]    Script Date: 24-Jun-26 9:03:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_ContentReports_ReporterUserID] ON [dbo].[ContentReports]
(
	[ReporterUserID] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ContentReports_ReportType]    Script Date: 24-Jun-26 9:03:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_ContentReports_ReportType] ON [dbo].[ContentReports]
(
	[ReportType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ContentReports_Status_CreatedAt]    Script Date: 24-Jun-26 9:03:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_ContentReports_Status_CreatedAt] ON [dbo].[ContentReports]
(
	[Status] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ContentReviewLogs_ActionByUserID]    Script Date: 24-Jun-26 9:03:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_ContentReviewLogs_ActionByUserID] ON [dbo].[ContentReviewLogs]
(
	[ActionByUserID] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ContentReviewLogs_Entity]    Script Date: 24-Jun-26 9:03:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_ContentReviewLogs_Entity] ON [dbo].[ContentReviewLogs]
(
	[EntityType] ASC,
	[EntityID] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExampleSentences_WordID]    Script Date: 24-Jun-26 9:03:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_ExampleSentences_WordID] ON [dbo].[ExampleSentences]
(
	[WordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExerciseAttempts_QuestionID]    Script Date: 24-Jun-26 9:03:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_ExerciseAttempts_QuestionID] ON [dbo].[ExerciseAttempts]
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExerciseAttempts_UserID_AttemptedAt]    Script Date: 24-Jun-26 9:03:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_ExerciseAttempts_UserID_AttemptedAt] ON [dbo].[ExerciseAttempts]
(
	[UserID] ASC,
	[AttemptedAt] DESC
)
INCLUDE([QuestionID],[WordID],[IsCorrect],[ScoreAwarded]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ExerciseAttempts_WordID]    Script Date: 24-Jun-26 9:03:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_ExerciseAttempts_WordID] ON [dbo].[ExerciseAttempts]
(
	[WordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LearningPathTopics_LevelID_DisplayOrder]    Script Date: 24-Jun-26 9:03:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_LearningPathTopics_LevelID_DisplayOrder] ON [dbo].[LearningPathTopics]
(
	[LearningPathLevelID] ASC,
	[DisplayOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MediaAssets_UploadedByUserID]    Script Date: 24-Jun-26 9:03:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_MediaAssets_UploadedByUserID] ON [dbo].[MediaAssets]
(
	[UploadedByUserID] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MiniTestAttempts_MiniTestID]    Script Date: 24-Jun-26 9:03:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_MiniTestAttempts_MiniTestID] ON [dbo].[MiniTestAttempts]
(
	[MiniTestID] ASC,
	[StartedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MiniTestAttempts_UserID]    Script Date: 24-Jun-26 9:03:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_MiniTestAttempts_UserID] ON [dbo].[MiniTestAttempts]
(
	[UserID] ASC,
	[StartedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MiniTestItems_QuestionID]    Script Date: 24-Jun-26 9:03:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_MiniTestItems_QuestionID] ON [dbo].[MiniTestItems]
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MiniTests_TopicID]    Script Date: 24-Jun-26 9:03:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_MiniTests_TopicID] ON [dbo].[MiniTests]
(
	[TopicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Questions_CreatedByUserID]    Script Date: 24-Jun-26 9:03:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_Questions_CreatedByUserID] ON [dbo].[Questions]
(
	[CreatedByUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Questions_WordID]    Script Date: 24-Jun-26 9:03:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_Questions_WordID] ON [dbo].[Questions]
(
	[WordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TopicCategories_IsActive_DisplayOrder]    Script Date: 24-Jun-26 9:03:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_TopicCategories_IsActive_DisplayOrder] ON [dbo].[TopicCategories]
(
	[IsActive] ASC,
	[DisplayOrder] ASC,
	[CategoryName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Topics_TopicCategoryID_ContentStatus]    Script Date: 24-Jun-26 9:03:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_Topics_TopicCategoryID_ContentStatus] ON [dbo].[Topics]
(
	[TopicCategoryID] ASC,
	[ContentStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserTopicEnrollments_TopicID]    Script Date: 24-Jun-26 9:03:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserTopicEnrollments_TopicID] ON [dbo].[UserTopicEnrollments]
(
	[TopicID] ASC,
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserTopicEnrollments_UserID]    Script Date: 24-Jun-26 9:03:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserTopicEnrollments_UserID] ON [dbo].[UserTopicEnrollments]
(
	[UserID] ASC,
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserVocabularyNotebook_UserID]    Script Date: 24-Jun-26 9:03:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserVocabularyNotebook_UserID] ON [dbo].[UserVocabularyNotebook]
(
	[UserID] ASC,
	[IsFavorite] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserVocabularyNotebook_WordID]    Script Date: 24-Jun-26 9:03:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserVocabularyNotebook_WordID] ON [dbo].[UserVocabularyNotebook]
(
	[WordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserWordProgress_NextReviewDate]    Script Date: 24-Jun-26 9:03:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserWordProgress_NextReviewDate] ON [dbo].[UserWordProgress]
(
	[NextReviewDate] ASC
)
INCLUDE([UserID],[WordID],[MemoryStatus]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserWordProgress_UserID]    Script Date: 24-Jun-26 9:03:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserWordProgress_UserID] ON [dbo].[UserWordProgress]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserWordProgress_UserID_NextReviewDate]    Script Date: 24-Jun-26 9:03:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserWordProgress_UserID_NextReviewDate] ON [dbo].[UserWordProgress]
(
	[UserID] ASC,
	[NextReviewDate] ASC
)
INCLUDE([WordID],[MasteryLevel],[MemoryStatus],[RepetitionCount],[EaseFactor]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserWordProgress_WordID]    Script Date: 24-Jun-26 9:03:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserWordProgress_WordID] ON [dbo].[UserWordProgress]
(
	[WordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserXPEvents_UserID_CreatedAt]    Script Date: 24-Jun-26 9:03:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_UserXPEvents_UserID_CreatedAt] ON [dbo].[UserXPEvents]
(
	[UserID] ASC,
	[CreatedAt] DESC
)
INCLUDE([EventType],[XPAmount]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_UserXPEvents_User_Event_Source]    Script Date: 24-Jun-26 9:03:15 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_UserXPEvents_User_Event_Source] ON [dbo].[UserXPEvents]
(
	[UserID] ASC,
	[EventType] ASC,
	[SourceKey] ASC
)
WHERE ([SourceKey] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Words_CreatedByUserID]    Script Date: 24-Jun-26 9:03:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_Words_CreatedByUserID] ON [dbo].[Words]
(
	[CreatedByUserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Words_PartOfSpeechID]    Script Date: 24-Jun-26 9:03:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_Words_PartOfSpeechID] ON [dbo].[Words]
(
	[PartOfSpeechID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_WordTopics_TopicID]    Script Date: 24-Jun-26 9:03:15 AM ******/
CREATE NONCLUSTERED INDEX [IX_WordTopics_TopicID] ON [dbo].[WordTopics]
(
	[TopicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Achievements] ADD  CONSTRAINT [DF_Achievements_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Achievements] ADD  CONSTRAINT [DF_Achievements_XPReward]  DEFAULT ((50)) FOR [XPReward]
GO
ALTER TABLE [dbo].[Achievements] ADD  CONSTRAINT [DF_Achievements_CreatedAt]  DEFAULT (sysdatetimeoffset()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ContentMediaLinks] ADD  CONSTRAINT [DF_ContentMediaLinks_DisplayOrder]  DEFAULT ((1)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[ContentReports] ADD  CONSTRAINT [DF_ContentReports_Status]  DEFAULT (N'Open') FOR [Status]
GO
ALTER TABLE [dbo].[ContentReports] ADD  CONSTRAINT [DF_ContentReports_Priority]  DEFAULT (N'Normal') FOR [Priority]
GO
ALTER TABLE [dbo].[ContentReports] ADD  CONSTRAINT [DF_ContentReports_CreatedAt]  DEFAULT (sysdatetimeoffset()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ContentReports] ADD  CONSTRAINT [DF_ContentReports_UpdatedAt]  DEFAULT (sysdatetimeoffset()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ContentReviewLogs] ADD  CONSTRAINT [DF_ContentReviewLogs_CreatedAt]  DEFAULT (sysdatetimeoffset()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ExampleSentences] ADD  CONSTRAINT [DF_ExampleSentences_CreatedAt]  DEFAULT (sysdatetimeoffset()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ExampleSentences] ADD  CONSTRAINT [DF_ExampleSentences_UpdatedAt]  DEFAULT (sysdatetimeoffset()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ExerciseAttempts] ADD  CONSTRAINT [DF_ExerciseAttempts_AttemptedAt]  DEFAULT (sysdatetimeoffset()) FOR [AttemptedAt]
GO
ALTER TABLE [dbo].[LearningPathLevels] ADD  CONSTRAINT [DF_LearningPathLevels_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[LearningPathLevels] ADD  CONSTRAINT [DF_LearningPathLevels_CreatedAt]  DEFAULT (sysdatetimeoffset()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LearningPathLevels] ADD  CONSTRAINT [DF_LearningPathLevels_UpdatedAt]  DEFAULT (sysdatetimeoffset()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[LearningPathTopics] ADD  CONSTRAINT [DF_LearningPathTopics_IsRequired]  DEFAULT ((1)) FOR [IsRequired]
GO
ALTER TABLE [dbo].[LearningPathTopics] ADD  CONSTRAINT [DF_LearningPathTopics_CreatedAt]  DEFAULT (sysdatetimeoffset()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MediaAssets] ADD  CONSTRAINT [DF_MediaAssets_CreatedAt]  DEFAULT (sysdatetimeoffset()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MiniTestAttempts] ADD  CONSTRAINT [DF_MiniTestAttempts_StartedAt]  DEFAULT (sysdatetimeoffset()) FOR [StartedAt]
GO
ALTER TABLE [dbo].[MiniTestAttempts] ADD  CONSTRAINT [DF_MiniTestAttempts_TotalQuestions]  DEFAULT ((0)) FOR [TotalQuestions]
GO
ALTER TABLE [dbo].[MiniTestAttempts] ADD  CONSTRAINT [DF_MiniTestAttempts_CorrectCount]  DEFAULT ((0)) FOR [CorrectCount]
GO
ALTER TABLE [dbo].[MiniTests] ADD  CONSTRAINT [DF_MiniTests_TotalQuestions]  DEFAULT ((0)) FOR [TotalQuestions]
GO
ALTER TABLE [dbo].[MiniTests] ADD  CONSTRAINT [DF_MiniTests_IsPublished]  DEFAULT ((0)) FOR [IsPublished]
GO
ALTER TABLE [dbo].[MiniTests] ADD  CONSTRAINT [DF_MiniTests_CreatedAt]  DEFAULT (sysdatetimeoffset()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MiniTests] ADD  CONSTRAINT [DF_MiniTests_UpdatedAt]  DEFAULT (sysdatetimeoffset()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[MiniTests] ADD  CONSTRAINT [DF_MiniTests_ContentStatus]  DEFAULT (N'Draft') FOR [ContentStatus]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ('System') FOR [Type]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ('InApp') FOR [DeliveryChannel]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (sysdatetimeoffset()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Questions] ADD  CONSTRAINT [DF_Questions_DifficultyLevel]  DEFAULT ((1)) FOR [DifficultyLevel]
GO
ALTER TABLE [dbo].[Questions] ADD  CONSTRAINT [DF_Questions_CreatedAt]  DEFAULT (sysdatetimeoffset()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Questions] ADD  CONSTRAINT [DF_Questions_UpdatedAt]  DEFAULT (sysdatetimeoffset()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Questions] ADD  CONSTRAINT [DF_Questions_ContentStatus]  DEFAULT (N'Published') FOR [ContentStatus]
GO
ALTER TABLE [dbo].[TopicCategories] ADD  CONSTRAINT [DF_TopicCategories_DisplayOrder]  DEFAULT ((1)) FOR [DisplayOrder]
GO
ALTER TABLE [dbo].[TopicCategories] ADD  CONSTRAINT [DF_TopicCategories_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TopicCategories] ADD  CONSTRAINT [DF_TopicCategories_CreatedAt]  DEFAULT (sysdatetimeoffset()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TopicCategories] ADD  CONSTRAINT [DF_TopicCategories_UpdatedAt]  DEFAULT (sysdatetimeoffset()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Topics] ADD  CONSTRAINT [DF_Topics_CreatedAt]  DEFAULT (sysdatetimeoffset()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Topics] ADD  CONSTRAINT [DF_Topics_UpdatedAt]  DEFAULT (sysdatetimeoffset()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Topics] ADD  CONSTRAINT [DF_Topics_ContentStatus]  DEFAULT (N'Published') FOR [ContentStatus]
GO
ALTER TABLE [dbo].[UserAchievements] ADD  CONSTRAINT [DF_UserAchievements_UnlockedAt]  DEFAULT (sysdatetimeoffset()) FOR [UnlockedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CreatedAt]  DEFAULT (sysdatetimeoffset()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_UpdatedAt]  DEFAULT (sysdatetimeoffset()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_TotalXP]  DEFAULT ((0)) FOR [TotalXP]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_CurrentLevel]  DEFAULT ((1)) FOR [CurrentLevel]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((20)) FOR [DailyGoal]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((15)) FOR [SRSReviewLimit]
GO
ALTER TABLE [dbo].[UserTopicEnrollments] ADD  CONSTRAINT [DF_UserTopicEnrollments_EnrolledAt]  DEFAULT (sysdatetimeoffset()) FOR [EnrolledAt]
GO
ALTER TABLE [dbo].[UserTopicEnrollments] ADD  CONSTRAINT [DF_UserTopicEnrollments_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserVocabularyNotebook] ADD  CONSTRAINT [DF_UserVocabularyNotebook_IsFavorite]  DEFAULT ((0)) FOR [IsFavorite]
GO
ALTER TABLE [dbo].[UserVocabularyNotebook] ADD  CONSTRAINT [DF_UserVocabularyNotebook_AddedAt]  DEFAULT (sysdatetimeoffset()) FOR [AddedAt]
GO
ALTER TABLE [dbo].[UserVocabularyNotebook] ADD  CONSTRAINT [DF_UserVocabularyNotebook_UpdatedAt]  DEFAULT (sysdatetimeoffset()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[UserWordProgress] ADD  CONSTRAINT [DF_UserWordProgress_MasteryLevel]  DEFAULT ((0)) FOR [MasteryLevel]
GO
ALTER TABLE [dbo].[UserWordProgress] ADD  CONSTRAINT [DF_UserWordProgress_EaseFactor]  DEFAULT ((2.50)) FOR [EaseFactor]
GO
ALTER TABLE [dbo].[UserWordProgress] ADD  CONSTRAINT [DF_UserWordProgress_RepetitionCount]  DEFAULT ((0)) FOR [RepetitionCount]
GO
ALTER TABLE [dbo].[UserWordProgress] ADD  CONSTRAINT [DF_UserWordProgress_ConsecutiveCorrect]  DEFAULT ((0)) FOR [ConsecutiveCorrect]
GO
ALTER TABLE [dbo].[UserWordProgress] ADD  CONSTRAINT [DF_UserWordProgress_ConsecutiveWrong]  DEFAULT ((0)) FOR [ConsecutiveWrong]
GO
ALTER TABLE [dbo].[UserWordProgress] ADD  CONSTRAINT [DF_UserWordProgress_MemoryStatus]  DEFAULT (N'New') FOR [MemoryStatus]
GO
ALTER TABLE [dbo].[UserWordProgress] ADD  CONSTRAINT [DF_UserWordProgress_CreatedAt]  DEFAULT (sysdatetimeoffset()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserWordProgress] ADD  CONSTRAINT [DF_UserWordProgress_UpdatedAt]  DEFAULT (sysdatetimeoffset()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[UserXPEvents] ADD  CONSTRAINT [DF_UserXPEvents_CreatedAt]  DEFAULT (sysdatetimeoffset()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Words] ADD  CONSTRAINT [DF_Words_DifficultyLevel]  DEFAULT ((1)) FOR [DifficultyLevel]
GO
ALTER TABLE [dbo].[Words] ADD  CONSTRAINT [DF_Words_CreatedAt]  DEFAULT (sysdatetimeoffset()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Words] ADD  CONSTRAINT [DF_Words_UpdatedAt]  DEFAULT (sysdatetimeoffset()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Words] ADD  CONSTRAINT [DF_Words_ContentStatus]  DEFAULT (N'Published') FOR [ContentStatus]
GO
ALTER TABLE [dbo].[WordTopics] ADD  CONSTRAINT [DF_WordTopics_AssignedAt]  DEFAULT (sysdatetimeoffset()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[ContentMediaLinks]  WITH CHECK ADD  CONSTRAINT [FK_ContentMediaLinks_MediaAssetID] FOREIGN KEY([MediaAssetID])
REFERENCES [dbo].[MediaAssets] ([MediaAssetID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ContentMediaLinks] CHECK CONSTRAINT [FK_ContentMediaLinks_MediaAssetID]
GO
ALTER TABLE [dbo].[ContentReports]  WITH CHECK ADD  CONSTRAINT [FK_ContentReports_QuestionID] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Questions] ([QuestionID])
GO
ALTER TABLE [dbo].[ContentReports] CHECK CONSTRAINT [FK_ContentReports_QuestionID]
GO
ALTER TABLE [dbo].[ContentReports]  WITH CHECK ADD  CONSTRAINT [FK_ContentReports_ReporterUserID] FOREIGN KEY([ReporterUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ContentReports] CHECK CONSTRAINT [FK_ContentReports_ReporterUserID]
GO
ALTER TABLE [dbo].[ContentReports]  WITH CHECK ADD  CONSTRAINT [FK_ContentReports_ResolvedByUserID] FOREIGN KEY([ResolvedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ContentReports] CHECK CONSTRAINT [FK_ContentReports_ResolvedByUserID]
GO
ALTER TABLE [dbo].[ContentReports]  WITH CHECK ADD  CONSTRAINT [FK_ContentReports_WordID] FOREIGN KEY([WordID])
REFERENCES [dbo].[Words] ([WordID])
GO
ALTER TABLE [dbo].[ContentReports] CHECK CONSTRAINT [FK_ContentReports_WordID]
GO
ALTER TABLE [dbo].[ContentReviewLogs]  WITH CHECK ADD  CONSTRAINT [FK_ContentReviewLogs_ActionByUserID] FOREIGN KEY([ActionByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ContentReviewLogs] CHECK CONSTRAINT [FK_ContentReviewLogs_ActionByUserID]
GO
ALTER TABLE [dbo].[ExampleSentences]  WITH CHECK ADD  CONSTRAINT [FK_ExampleSentences_WordID] FOREIGN KEY([WordID])
REFERENCES [dbo].[Words] ([WordID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExampleSentences] CHECK CONSTRAINT [FK_ExampleSentences_WordID]
GO
ALTER TABLE [dbo].[ExerciseAttempts]  WITH CHECK ADD  CONSTRAINT [FK_ExerciseAttempts_QuestionID] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Questions] ([QuestionID])
GO
ALTER TABLE [dbo].[ExerciseAttempts] CHECK CONSTRAINT [FK_ExerciseAttempts_QuestionID]
GO
ALTER TABLE [dbo].[ExerciseAttempts]  WITH CHECK ADD  CONSTRAINT [FK_ExerciseAttempts_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExerciseAttempts] CHECK CONSTRAINT [FK_ExerciseAttempts_UserID]
GO
ALTER TABLE [dbo].[ExerciseAttempts]  WITH CHECK ADD  CONSTRAINT [FK_ExerciseAttempts_WordID] FOREIGN KEY([WordID])
REFERENCES [dbo].[Words] ([WordID])
GO
ALTER TABLE [dbo].[ExerciseAttempts] CHECK CONSTRAINT [FK_ExerciseAttempts_WordID]
GO
ALTER TABLE [dbo].[LearningPathTopics]  WITH CHECK ADD  CONSTRAINT [FK_LearningPathTopics_LevelID] FOREIGN KEY([LearningPathLevelID])
REFERENCES [dbo].[LearningPathLevels] ([LearningPathLevelID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LearningPathTopics] CHECK CONSTRAINT [FK_LearningPathTopics_LevelID]
GO
ALTER TABLE [dbo].[LearningPathTopics]  WITH CHECK ADD  CONSTRAINT [FK_LearningPathTopics_TopicID] FOREIGN KEY([TopicID])
REFERENCES [dbo].[Topics] ([TopicID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LearningPathTopics] CHECK CONSTRAINT [FK_LearningPathTopics_TopicID]
GO
ALTER TABLE [dbo].[MediaAssets]  WITH CHECK ADD  CONSTRAINT [FK_MediaAssets_UploadedByUserID] FOREIGN KEY([UploadedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[MediaAssets] CHECK CONSTRAINT [FK_MediaAssets_UploadedByUserID]
GO
ALTER TABLE [dbo].[MiniTestAttempts]  WITH CHECK ADD  CONSTRAINT [FK_MiniTestAttempts_MiniTestID] FOREIGN KEY([MiniTestID])
REFERENCES [dbo].[MiniTests] ([MiniTestID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MiniTestAttempts] CHECK CONSTRAINT [FK_MiniTestAttempts_MiniTestID]
GO
ALTER TABLE [dbo].[MiniTestAttempts]  WITH CHECK ADD  CONSTRAINT [FK_MiniTestAttempts_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MiniTestAttempts] CHECK CONSTRAINT [FK_MiniTestAttempts_UserID]
GO
ALTER TABLE [dbo].[MiniTestItems]  WITH CHECK ADD  CONSTRAINT [FK_MiniTestItems_MiniTestID] FOREIGN KEY([MiniTestID])
REFERENCES [dbo].[MiniTests] ([MiniTestID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MiniTestItems] CHECK CONSTRAINT [FK_MiniTestItems_MiniTestID]
GO
ALTER TABLE [dbo].[MiniTestItems]  WITH CHECK ADD  CONSTRAINT [FK_MiniTestItems_QuestionID] FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Questions] ([QuestionID])
GO
ALTER TABLE [dbo].[MiniTestItems] CHECK CONSTRAINT [FK_MiniTestItems_QuestionID]
GO
ALTER TABLE [dbo].[MiniTests]  WITH CHECK ADD  CONSTRAINT [FK_MiniTests_CreatedByUserID] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[MiniTests] CHECK CONSTRAINT [FK_MiniTests_CreatedByUserID]
GO
ALTER TABLE [dbo].[MiniTests]  WITH CHECK ADD  CONSTRAINT [FK_MiniTests_ReviewedByUserID] FOREIGN KEY([ReviewedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[MiniTests] CHECK CONSTRAINT [FK_MiniTests_ReviewedByUserID]
GO
ALTER TABLE [dbo].[MiniTests]  WITH CHECK ADD  CONSTRAINT [FK_MiniTests_TopicID] FOREIGN KEY([TopicID])
REFERENCES [dbo].[Topics] ([TopicID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[MiniTests] CHECK CONSTRAINT [FK_MiniTests_TopicID]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_CreatedByUserID] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_CreatedByUserID]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_ReviewedByUserID] FOREIGN KEY([ReviewedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_ReviewedByUserID]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_WordID] FOREIGN KEY([WordID])
REFERENCES [dbo].[Words] ([WordID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_WordID]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Permission] FOREIGN KEY([PermissionID])
REFERENCES [dbo].[Permissions] ([PermissionID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Permission]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RolePermissions_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RolePermissions_Role]
GO
ALTER TABLE [dbo].[TopicCategories]  WITH CHECK ADD  CONSTRAINT [FK_TopicCategories_CreatedByUserID] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[TopicCategories] CHECK CONSTRAINT [FK_TopicCategories_CreatedByUserID]
GO
ALTER TABLE [dbo].[Topics]  WITH CHECK ADD  CONSTRAINT [FK_Topics_CreatedByUserID] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Topics] CHECK CONSTRAINT [FK_Topics_CreatedByUserID]
GO
ALTER TABLE [dbo].[Topics]  WITH CHECK ADD  CONSTRAINT [FK_Topics_ReviewedByUserID] FOREIGN KEY([ReviewedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Topics] CHECK CONSTRAINT [FK_Topics_ReviewedByUserID]
GO
ALTER TABLE [dbo].[Topics]  WITH CHECK ADD  CONSTRAINT [FK_Topics_TopicCategoryID] FOREIGN KEY([TopicCategoryID])
REFERENCES [dbo].[TopicCategories] ([TopicCategoryID])
GO
ALTER TABLE [dbo].[Topics] CHECK CONSTRAINT [FK_Topics_TopicCategoryID]
GO
ALTER TABLE [dbo].[UserAchievements]  WITH CHECK ADD  CONSTRAINT [FK_UserAchievements_AchievementID] FOREIGN KEY([AchievementID])
REFERENCES [dbo].[Achievements] ([AchievementID])
GO
ALTER TABLE [dbo].[UserAchievements] CHECK CONSTRAINT [FK_UserAchievements_AchievementID]
GO
ALTER TABLE [dbo].[UserAchievements]  WITH CHECK ADD  CONSTRAINT [FK_UserAchievements_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAchievements] CHECK CONSTRAINT [FK_UserAchievements_UserID]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_RoleID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_RoleID]
GO
ALTER TABLE [dbo].[UserTopicEnrollments]  WITH CHECK ADD  CONSTRAINT [FK_UserTopicEnrollments_TopicID] FOREIGN KEY([TopicID])
REFERENCES [dbo].[Topics] ([TopicID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserTopicEnrollments] CHECK CONSTRAINT [FK_UserTopicEnrollments_TopicID]
GO
ALTER TABLE [dbo].[UserTopicEnrollments]  WITH CHECK ADD  CONSTRAINT [FK_UserTopicEnrollments_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserTopicEnrollments] CHECK CONSTRAINT [FK_UserTopicEnrollments_UserID]
GO
ALTER TABLE [dbo].[UserVocabularyNotebook]  WITH CHECK ADD  CONSTRAINT [FK_UserVocabularyNotebook_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserVocabularyNotebook] CHECK CONSTRAINT [FK_UserVocabularyNotebook_UserID]
GO
ALTER TABLE [dbo].[UserVocabularyNotebook]  WITH CHECK ADD  CONSTRAINT [FK_UserVocabularyNotebook_WordID] FOREIGN KEY([WordID])
REFERENCES [dbo].[Words] ([WordID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserVocabularyNotebook] CHECK CONSTRAINT [FK_UserVocabularyNotebook_WordID]
GO
ALTER TABLE [dbo].[UserWordProgress]  WITH CHECK ADD  CONSTRAINT [FK_UserWordProgress_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserWordProgress] CHECK CONSTRAINT [FK_UserWordProgress_UserID]
GO
ALTER TABLE [dbo].[UserWordProgress]  WITH CHECK ADD  CONSTRAINT [FK_UserWordProgress_WordID] FOREIGN KEY([WordID])
REFERENCES [dbo].[Words] ([WordID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserWordProgress] CHECK CONSTRAINT [FK_UserWordProgress_WordID]
GO
ALTER TABLE [dbo].[UserXPEvents]  WITH CHECK ADD  CONSTRAINT [FK_UserXPEvents_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserXPEvents] CHECK CONSTRAINT [FK_UserXPEvents_UserID]
GO
ALTER TABLE [dbo].[Words]  WITH NOCHECK ADD  CONSTRAINT [FK_Words_CreatedByUserID] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Words] CHECK CONSTRAINT [FK_Words_CreatedByUserID]
GO
ALTER TABLE [dbo].[Words]  WITH NOCHECK ADD  CONSTRAINT [FK_Words_PartOfSpeechID] FOREIGN KEY([PartOfSpeechID])
REFERENCES [dbo].[PartOfSpeeches] ([PartOfSpeechID])
GO
ALTER TABLE [dbo].[Words] CHECK CONSTRAINT [FK_Words_PartOfSpeechID]
GO
ALTER TABLE [dbo].[Words]  WITH NOCHECK ADD  CONSTRAINT [FK_Words_ReviewedByUserID] FOREIGN KEY([ReviewedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Words] CHECK CONSTRAINT [FK_Words_ReviewedByUserID]
GO
ALTER TABLE [dbo].[WordTopics]  WITH CHECK ADD  CONSTRAINT [FK_WordTopics_TopicID] FOREIGN KEY([TopicID])
REFERENCES [dbo].[Topics] ([TopicID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WordTopics] CHECK CONSTRAINT [FK_WordTopics_TopicID]
GO
ALTER TABLE [dbo].[WordTopics]  WITH CHECK ADD  CONSTRAINT [FK_WordTopics_WordID] FOREIGN KEY([WordID])
REFERENCES [dbo].[Words] ([WordID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WordTopics] CHECK CONSTRAINT [FK_WordTopics_WordID]
GO
ALTER TABLE [dbo].[Achievements]  WITH CHECK ADD  CONSTRAINT [CK_Achievements_CriteriaValue] CHECK  (([CriteriaValue]>(0)))
GO
ALTER TABLE [dbo].[Achievements] CHECK CONSTRAINT [CK_Achievements_CriteriaValue]
GO
ALTER TABLE [dbo].[ContentMediaLinks]  WITH CHECK ADD  CONSTRAINT [CK_ContentMediaLinks_DisplayOrder] CHECK  (([DisplayOrder]>(0)))
GO
ALTER TABLE [dbo].[ContentMediaLinks] CHECK CONSTRAINT [CK_ContentMediaLinks_DisplayOrder]
GO
ALTER TABLE [dbo].[ContentMediaLinks]  WITH CHECK ADD  CONSTRAINT [CK_ContentMediaLinks_EntityType] CHECK  (([EntityType]=N'Topic' OR [EntityType]=N'ExampleSentence' OR [EntityType]=N'Question' OR [EntityType]=N'Word'))
GO
ALTER TABLE [dbo].[ContentMediaLinks] CHECK CONSTRAINT [CK_ContentMediaLinks_EntityType]
GO
ALTER TABLE [dbo].[ContentReports]  WITH CHECK ADD  CONSTRAINT [CK_ContentReports_EntityType] CHECK  (([EntityType]=N'General' OR [EntityType]=N'Audio' OR [EntityType]=N'Question' OR [EntityType]=N'Word'))
GO
ALTER TABLE [dbo].[ContentReports] CHECK CONSTRAINT [CK_ContentReports_EntityType]
GO
ALTER TABLE [dbo].[ContentReports]  WITH CHECK ADD  CONSTRAINT [CK_ContentReports_Priority] CHECK  (([Priority]=N'Urgent' OR [Priority]=N'High' OR [Priority]=N'Normal' OR [Priority]=N'Low'))
GO
ALTER TABLE [dbo].[ContentReports] CHECK CONSTRAINT [CK_ContentReports_Priority]
GO
ALTER TABLE [dbo].[ContentReports]  WITH CHECK ADD  CONSTRAINT [CK_ContentReports_ReportType] CHECK  (([ReportType]=N'Other' OR [ReportType]=N'Typo' OR [ReportType]=N'AnswerIncorrect' OR [ReportType]=N'AudioIssue' OR [ReportType]=N'WordIncorrect'))
GO
ALTER TABLE [dbo].[ContentReports] CHECK CONSTRAINT [CK_ContentReports_ReportType]
GO
ALTER TABLE [dbo].[ContentReports]  WITH CHECK ADD  CONSTRAINT [CK_ContentReports_Status] CHECK  (([Status]=N'Rejected' OR [Status]=N'Resolved' OR [Status]=N'InReview' OR [Status]=N'Open'))
GO
ALTER TABLE [dbo].[ContentReports] CHECK CONSTRAINT [CK_ContentReports_Status]
GO
ALTER TABLE [dbo].[ContentReviewLogs]  WITH CHECK ADD  CONSTRAINT [CK_ContentReviewLogs_EntityType] CHECK  (([EntityType]=N'MediaAsset' OR [EntityType]=N'ExampleSentence' OR [EntityType]=N'MiniTest' OR [EntityType]=N'Question' OR [EntityType]=N'Word' OR [EntityType]=N'Topic'))
GO
ALTER TABLE [dbo].[ContentReviewLogs] CHECK CONSTRAINT [CK_ContentReviewLogs_EntityType]
GO
ALTER TABLE [dbo].[ContentReviewLogs]  WITH CHECK ADD  CONSTRAINT [CK_ContentReviewLogs_Status] CHECK  ((([NewStatus]=N'Archived' OR [NewStatus]=N'Rejected' OR [NewStatus]=N'Published' OR [NewStatus]=N'PendingReview' OR [NewStatus]=N'Draft') AND ([OldStatus] IS NULL OR ([OldStatus]=N'Archived' OR [OldStatus]=N'Rejected' OR [OldStatus]=N'Published' OR [OldStatus]=N'PendingReview' OR [OldStatus]=N'Draft'))))
GO
ALTER TABLE [dbo].[ContentReviewLogs] CHECK CONSTRAINT [CK_ContentReviewLogs_Status]
GO
ALTER TABLE [dbo].[ExerciseAttempts]  WITH CHECK ADD  CONSTRAINT [CK_ExerciseAttempts_AttemptMetadataJson_IsJson] CHECK  (([AttemptMetadataJson] IS NULL OR isjson([AttemptMetadataJson])=(1)))
GO
ALTER TABLE [dbo].[ExerciseAttempts] CHECK CONSTRAINT [CK_ExerciseAttempts_AttemptMetadataJson_IsJson]
GO
ALTER TABLE [dbo].[ExerciseAttempts]  WITH CHECK ADD  CONSTRAINT [CK_ExerciseAttempts_ScoreAwarded] CHECK  (([ScoreAwarded]>=(0) AND [ScoreAwarded]<=(100)))
GO
ALTER TABLE [dbo].[ExerciseAttempts] CHECK CONSTRAINT [CK_ExerciseAttempts_ScoreAwarded]
GO
ALTER TABLE [dbo].[LearningPathLevels]  WITH CHECK ADD  CONSTRAINT [CK_LearningPathLevels_TargetScore] CHECK  (([TargetScore]>(0)))
GO
ALTER TABLE [dbo].[LearningPathLevels] CHECK CONSTRAINT [CK_LearningPathLevels_TargetScore]
GO
ALTER TABLE [dbo].[MediaAssets]  WITH CHECK ADD  CONSTRAINT [CK_MediaAssets_FileSizeBytes] CHECK  (([FileSizeBytes] IS NULL OR [FileSizeBytes]>=(0)))
GO
ALTER TABLE [dbo].[MediaAssets] CHECK CONSTRAINT [CK_MediaAssets_FileSizeBytes]
GO
ALTER TABLE [dbo].[MediaAssets]  WITH CHECK ADD  CONSTRAINT [CK_MediaAssets_MediaType] CHECK  (([MediaType]=N'Document' OR [MediaType]=N'Video' OR [MediaType]=N'QuestionImage' OR [MediaType]=N'QuestionAudio' OR [MediaType]=N'ExampleAudio' OR [MediaType]=N'Image' OR [MediaType]=N'AudioUS' OR [MediaType]=N'AudioUK' OR [MediaType]=N'Audio'))
GO
ALTER TABLE [dbo].[MediaAssets] CHECK CONSTRAINT [CK_MediaAssets_MediaType]
GO
ALTER TABLE [dbo].[MiniTestAttempts]  WITH CHECK ADD  CONSTRAINT [CK_MiniTestAttempts_CorrectCount] CHECK  (([CorrectCount]>=(0)))
GO
ALTER TABLE [dbo].[MiniTestAttempts] CHECK CONSTRAINT [CK_MiniTestAttempts_CorrectCount]
GO
ALTER TABLE [dbo].[MiniTestAttempts]  WITH CHECK ADD  CONSTRAINT [CK_MiniTestAttempts_Score] CHECK  (([Score] IS NULL OR [Score]>=(0) AND [Score]<=(100)))
GO
ALTER TABLE [dbo].[MiniTestAttempts] CHECK CONSTRAINT [CK_MiniTestAttempts_Score]
GO
ALTER TABLE [dbo].[MiniTestAttempts]  WITH CHECK ADD  CONSTRAINT [CK_MiniTestAttempts_TotalQuestions] CHECK  (([TotalQuestions]>=(0)))
GO
ALTER TABLE [dbo].[MiniTestAttempts] CHECK CONSTRAINT [CK_MiniTestAttempts_TotalQuestions]
GO
ALTER TABLE [dbo].[MiniTestItems]  WITH CHECK ADD  CONSTRAINT [CK_MiniTestItems_DisplayOrder] CHECK  (([DisplayOrder]>(0)))
GO
ALTER TABLE [dbo].[MiniTestItems] CHECK CONSTRAINT [CK_MiniTestItems_DisplayOrder]
GO
ALTER TABLE [dbo].[MiniTests]  WITH CHECK ADD  CONSTRAINT [CK_MiniTests_ContentStatus] CHECK  (([ContentStatus]=N'Archived' OR [ContentStatus]=N'Rejected' OR [ContentStatus]=N'Published' OR [ContentStatus]=N'PendingReview' OR [ContentStatus]=N'Draft'))
GO
ALTER TABLE [dbo].[MiniTests] CHECK CONSTRAINT [CK_MiniTests_ContentStatus]
GO
ALTER TABLE [dbo].[MiniTests]  WITH CHECK ADD  CONSTRAINT [CK_MiniTests_TotalQuestions] CHECK  (([TotalQuestions]>=(0)))
GO
ALTER TABLE [dbo].[MiniTests] CHECK CONSTRAINT [CK_MiniTests_TotalQuestions]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [CK_Questions_ContentStatus] CHECK  (([ContentStatus]=N'Archived' OR [ContentStatus]=N'Rejected' OR [ContentStatus]=N'Published' OR [ContentStatus]=N'PendingReview' OR [ContentStatus]=N'Draft'))
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [CK_Questions_ContentStatus]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [CK_Questions_DifficultyLevel] CHECK  (([DifficultyLevel]>=(1) AND [DifficultyLevel]<=(5)))
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [CK_Questions_DifficultyLevel]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [CK_Questions_OptionsJson_IsJson] CHECK  ((isjson([OptionsJson])=(1)))
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [CK_Questions_OptionsJson_IsJson]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [CK_Questions_QuestionType] CHECK  (([QuestionType]=N'FlashcardCheck' OR [QuestionType]=N'Dictation' OR [QuestionType]=N'DragDrop' OR [QuestionType]=N'FillBlank' OR [QuestionType]=N'MCQ'))
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [CK_Questions_QuestionType]
GO
ALTER TABLE [dbo].[TopicCategories]  WITH CHECK ADD  CONSTRAINT [CK_TopicCategories_DisplayOrder] CHECK  (([DisplayOrder]>(0)))
GO
ALTER TABLE [dbo].[TopicCategories] CHECK CONSTRAINT [CK_TopicCategories_DisplayOrder]
GO
ALTER TABLE [dbo].[Topics]  WITH CHECK ADD  CONSTRAINT [CK_Topics_ContentStatus] CHECK  (([ContentStatus]=N'Archived' OR [ContentStatus]=N'Rejected' OR [ContentStatus]=N'Published' OR [ContentStatus]=N'PendingReview' OR [ContentStatus]=N'Draft'))
GO
ALTER TABLE [dbo].[Topics] CHECK CONSTRAINT [CK_Topics_ContentStatus]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_UserRole] CHECK  (([UserRole]=N'Admin' OR [UserRole]=N'ContentCreator' OR [UserRole]=N'Learner'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_UserRole]
GO
ALTER TABLE [dbo].[UserWordProgress]  WITH CHECK ADD  CONSTRAINT [CK_UserWordProgress_ConsecutiveCorrect] CHECK  (([ConsecutiveCorrect]>=(0)))
GO
ALTER TABLE [dbo].[UserWordProgress] CHECK CONSTRAINT [CK_UserWordProgress_ConsecutiveCorrect]
GO
ALTER TABLE [dbo].[UserWordProgress]  WITH CHECK ADD  CONSTRAINT [CK_UserWordProgress_ConsecutiveWrong] CHECK  (([ConsecutiveWrong]>=(0)))
GO
ALTER TABLE [dbo].[UserWordProgress] CHECK CONSTRAINT [CK_UserWordProgress_ConsecutiveWrong]
GO
ALTER TABLE [dbo].[UserWordProgress]  WITH CHECK ADD  CONSTRAINT [CK_UserWordProgress_EaseFactor] CHECK  (([EaseFactor]>=(1.30) AND [EaseFactor]<=(3.50)))
GO
ALTER TABLE [dbo].[UserWordProgress] CHECK CONSTRAINT [CK_UserWordProgress_EaseFactor]
GO
ALTER TABLE [dbo].[UserWordProgress]  WITH CHECK ADD  CONSTRAINT [CK_UserWordProgress_LastScore] CHECK  (([LastScore] IS NULL OR [LastScore]>=(0) AND [LastScore]<=(100)))
GO
ALTER TABLE [dbo].[UserWordProgress] CHECK CONSTRAINT [CK_UserWordProgress_LastScore]
GO
ALTER TABLE [dbo].[UserWordProgress]  WITH CHECK ADD  CONSTRAINT [CK_UserWordProgress_MasteryLevel] CHECK  (([MasteryLevel]>=(0) AND [MasteryLevel]<=(10)))
GO
ALTER TABLE [dbo].[UserWordProgress] CHECK CONSTRAINT [CK_UserWordProgress_MasteryLevel]
GO
ALTER TABLE [dbo].[UserWordProgress]  WITH CHECK ADD  CONSTRAINT [CK_UserWordProgress_MemoryStatus] CHECK  (([MemoryStatus]=N'Lapsed' OR [MemoryStatus]=N'Mastered' OR [MemoryStatus]=N'Reviewing' OR [MemoryStatus]=N'Learning' OR [MemoryStatus]=N'New'))
GO
ALTER TABLE [dbo].[UserWordProgress] CHECK CONSTRAINT [CK_UserWordProgress_MemoryStatus]
GO
ALTER TABLE [dbo].[UserWordProgress]  WITH CHECK ADD  CONSTRAINT [CK_UserWordProgress_RepetitionCount] CHECK  (([RepetitionCount]>=(0)))
GO
ALTER TABLE [dbo].[UserWordProgress] CHECK CONSTRAINT [CK_UserWordProgress_RepetitionCount]
GO
ALTER TABLE [dbo].[UserXPEvents]  WITH CHECK ADD  CONSTRAINT [CK_UserXPEvents_MetadataJson] CHECK  (([MetadataJson] IS NULL OR isjson([MetadataJson])=(1)))
GO
ALTER TABLE [dbo].[UserXPEvents] CHECK CONSTRAINT [CK_UserXPEvents_MetadataJson]
GO
ALTER TABLE [dbo].[UserXPEvents]  WITH CHECK ADD  CONSTRAINT [CK_UserXPEvents_XPAmount] CHECK  (([XPAmount]>(0)))
GO
ALTER TABLE [dbo].[UserXPEvents] CHECK CONSTRAINT [CK_UserXPEvents_XPAmount]
GO
ALTER TABLE [dbo].[Words]  WITH NOCHECK ADD  CONSTRAINT [CK_Words_ContentStatus] CHECK  (([ContentStatus]=N'Archived' OR [ContentStatus]=N'Rejected' OR [ContentStatus]=N'Published' OR [ContentStatus]=N'PendingReview' OR [ContentStatus]=N'Draft'))
GO
ALTER TABLE [dbo].[Words] CHECK CONSTRAINT [CK_Words_ContentStatus]
GO
ALTER TABLE [dbo].[Words]  WITH NOCHECK ADD  CONSTRAINT [CK_Words_DifficultyLevel] CHECK  (([DifficultyLevel]>=(1) AND [DifficultyLevel]<=(5)))
GO
ALTER TABLE [dbo].[Words] CHECK CONSTRAINT [CK_Words_DifficultyLevel]
GO
/****** Object:  StoredProcedure [dbo].[usp_SubmitQuestionAttempt]    Script Date: 24-Jun-26 9:03:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* 9. STORED PROCEDURE */
CREATE PROCEDURE [dbo].[usp_SubmitQuestionAttempt]
(
    @UserID               BIGINT,
    @QuestionID           BIGINT,
    @SubmittedAnswer      NVARCHAR(1000),
    @ClientTimeZoneOffset NVARCHAR(10) = NULL,
    @AttemptMetadataJson  NVARCHAR(MAX) = NULL
)
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE
        @WordID               BIGINT,
        @CorrectAnswer        NVARCHAR(500),
        @QuestionType         NVARCHAR(30),
        @IsCorrect            BIT,
        @ScoreAwarded         DECIMAL(5,2),
        @Now                  DATETIMEOFFSET(7),
        @UserWordProgressID   BIGINT,
        @MasteryLevel         TINYINT,
        @EaseFactor           DECIMAL(4,2),
        @RepetitionCount      INT,
        @ConsecutiveCorrect   INT,
        @ConsecutiveWrong     INT,
        @LastScore            DECIMAL(5,2),
        @MemoryStatus         NVARCHAR(30),
        @NextReviewDate       DATETIMEOFFSET(7),
        @IntervalDays         INT;

    BEGIN TRY
        BEGIN TRAN;

        IF @AttemptMetadataJson IS NOT NULL AND ISJSON(@AttemptMetadataJson) <> 1
        BEGIN
            THROW 50001, N'AttemptMetadataJson phải là JSON hợp lệ.', 1;
        END

        SET @Now = SYSDATETIMEOFFSET();

        SELECT
            @WordID = q.WordID,
            @CorrectAnswer = q.CorrectAnswer,
            @QuestionType = q.QuestionType
        FROM dbo.Questions AS q
        WHERE q.QuestionID = @QuestionID;

        IF @WordID IS NULL
        BEGIN
            THROW 50002, N'QuestionID không tồn tại.', 1;
        END

        IF NOT EXISTS (SELECT 1 FROM dbo.Users AS u WHERE u.UserID = @UserID AND u.IsActive = 1)
        BEGIN
            THROW 50003, N'UserID không hợp lệ hoặc đã bị vô hiệu hóa.', 1;
        END

        SET @IsCorrect = CASE WHEN LOWER(LTRIM(RTRIM(@SubmittedAnswer))) = LOWER(LTRIM(RTRIM(@CorrectAnswer))) THEN 1 ELSE 0 END;
        SET @ScoreAwarded = CASE WHEN @IsCorrect = 1 THEN 100.00 ELSE 0.00 END;

        SELECT
            @UserWordProgressID = uwp.UserWordProgressID,
            @MasteryLevel = uwp.MasteryLevel,
            @EaseFactor = uwp.EaseFactor,
            @RepetitionCount = uwp.RepetitionCount,
            @ConsecutiveCorrect = uwp.ConsecutiveCorrect,
            @ConsecutiveWrong = uwp.ConsecutiveWrong,
            @LastScore = uwp.LastScore,
            @MemoryStatus = uwp.MemoryStatus
        FROM dbo.UserWordProgress AS uwp WITH (UPDLOCK, HOLDLOCK)
        WHERE uwp.UserID = @UserID AND uwp.WordID = @WordID;

        IF @UserWordProgressID IS NULL
        BEGIN
            INSERT INTO dbo.UserWordProgress (UserID, WordID, MasteryLevel, EaseFactor, RepetitionCount, ConsecutiveCorrect, ConsecutiveWrong, LastReviewedAt, NextReviewDate, LastScore, MemoryStatus, CreatedAt, UpdatedAt)
            VALUES (@UserID, @WordID, 0, 2.50, 0, 0, 0, NULL, NULL, NULL, N'New', @Now, @Now);

            SET @UserWordProgressID = SCOPE_IDENTITY();
            SET @MasteryLevel = 0;
            SET @EaseFactor = 2.50;
            SET @RepetitionCount = 0;
            SET @ConsecutiveCorrect = 0;
            SET @ConsecutiveWrong = 0;
            SET @MemoryStatus = N'New';
        END

        INSERT INTO dbo.ExerciseAttempts (UserID, QuestionID, WordID, SubmittedAnswer, IsCorrect, ScoreAwarded, AttemptedAt, ClientTimeZoneOffset, AttemptMetadataJson)
        VALUES (@UserID, @QuestionID, @WordID, @SubmittedAnswer, @IsCorrect, @ScoreAwarded, @Now, @ClientTimeZoneOffset, @AttemptMetadataJson);

        IF @IsCorrect = 1
        BEGIN
            SET @RepetitionCount = @RepetitionCount + 1;
            SET @ConsecutiveCorrect = @ConsecutiveCorrect + 1;
            SET @ConsecutiveWrong = 0;
            SET @MasteryLevel = CASE WHEN @MasteryLevel < 10 THEN @MasteryLevel + 1 ELSE 10 END;
            SET @EaseFactor = CASE WHEN @EaseFactor + 0.10 > 3.50 THEN 3.50 ELSE @EaseFactor + 0.10 END;
        END
        ELSE
        BEGIN
            SET @RepetitionCount = 0;
            SET @ConsecutiveCorrect = 0;
            SET @ConsecutiveWrong = @ConsecutiveWrong + 1;
            SET @MasteryLevel = CASE WHEN @MasteryLevel > 0 THEN @MasteryLevel - 1 ELSE 0 END;
            SET @EaseFactor = CASE WHEN @EaseFactor - 0.20 < 1.30 THEN 1.30 ELSE @EaseFactor - 0.20 END;
        END

        IF @IsCorrect = 0
        BEGIN
            SET @IntervalDays = 0; 
            SET @NextReviewDate = DATEADD(MINUTE, 30, @Now);
            SET @MemoryStatus = N'Lapsed';
        END
        ELSE
        BEGIN
            SET @IntervalDays = CASE WHEN @RepetitionCount = 1 THEN 1 WHEN @RepetitionCount = 2 THEN 3 WHEN @RepetitionCount = 3 THEN 7 WHEN @RepetitionCount = 4 THEN 14 WHEN @RepetitionCount = 5 THEN 30 ELSE CAST(ROUND((@RepetitionCount * @EaseFactor * 10.0), 0) AS INT) END;
            SET @NextReviewDate = DATEADD(DAY, @IntervalDays, @Now);
            SET @MemoryStatus = CASE WHEN @MasteryLevel >= 8 THEN N'Mastered' WHEN @MasteryLevel >= 5 THEN N'Reviewing' ELSE N'Learning' END;
        END

        UPDATE dbo.UserWordProgress
        SET MasteryLevel = @MasteryLevel, EaseFactor = @EaseFactor, RepetitionCount = @RepetitionCount, ConsecutiveCorrect = @ConsecutiveCorrect, ConsecutiveWrong = @ConsecutiveWrong, LastReviewedAt = @Now, NextReviewDate = @NextReviewDate, LastScore = @ScoreAwarded, MemoryStatus = @MemoryStatus, UpdatedAt = @Now
        WHERE UserWordProgressID = @UserWordProgressID;

        COMMIT TRAN;

        SELECT @UserID AS UserID, @QuestionID AS QuestionID, @WordID AS WordID, @IsCorrect AS IsCorrect, @ScoreAwarded AS ScoreAwarded, @MasteryLevel AS MasteryLevel, @EaseFactor AS EaseFactor, @RepetitionCount AS RepetitionCount, @MemoryStatus AS MemoryStatus, @NextReviewDate AS NextReviewDate, @Now AS ProcessedAt;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;

        DECLARE @ErrorNumber INT = ERROR_NUMBER(), @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE(), @ErrorLine INT = ERROR_LINE(), @ErrorProcedure NVARCHAR(200) = ERROR_PROCEDURE();
        DECLARE @ThrowMsg NVARCHAR(2048);
        SET @ThrowMsg = CONCAT(N'usp_SubmitQuestionAttempt failed. ErrorNumber=', @ErrorNumber, N', Procedure=', ISNULL(@ErrorProcedure, N''), N', Line=', @ErrorLine, N', Message=', @ErrorMessage);
        THROW 51000, @ThrowMsg, 1;
    END CATCH
END

GO
USE [master]
GO
